<html>
    <head>
        <title>This blog made from Django</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</h1>
        </div>
        <div>
        <p>published: 14.09.2023, 21:21</p>
        <h2><a href="">My fitst post</a></h2>
        <p>Aenean eu leo quem. こんにちは！ よろしくお願いします！</p>
        </div>
        <div>
            <p>公開日: 2023/09/14, 21:21</p>
            <h2><a href="">２番目の投稿</a></h2>
            <p>こんにちは！ よろしくお願いします！</p>
        </div>
    </body>
</html>